<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>V2EX.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>CC2A39E61CE1DB4C00A674D1</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>CC2A39F51CE1DBA700A674D1</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>CC355FFC1BF33A8E00D1780A</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>CC3560101BF33A8E00D1780A</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>CC35601B1BF33A8F00D1780A</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
